.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: scroll;
  } 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.gap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.textGap {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.li {
  padding: 36px 20px;
  align-items: center;
  transform: skew(-20deg);
}

.lin {
  padding: 12px 12px;
  align-items: center;
}

.lin:hover {
  background-color: black;
}

.li:hover {
    background-color: black;
}

.img {
  width: 200px;
  border-radius: 8px;
  opacity: 90%;
}

.hero-img {
  background: url(./assets/hero-desktop.png), lightgray 50% / cover no-repeat;
  background-position: bottom;
  background-size: cover;
}

.head-img {
  background: url(./assets/Sew-lab-1.png), lightgray 50% / cover no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* Accordian padding 0 for fundaments and how to order */
.MuiButtonBase-root {
  padding: 0px !important;
}

.growth {
  overflow-y: scroll;
  scroll-behavior: smooth;
 }